header#odin-header{

    position: absolute;
    top: 0;
    left: 0;

    

    display: flex;
    align-items: center;
    justify-content: space-between;


    padding: 0 4rem;
    
    width: 100%;
    height: 10rem;

    margin-top: 3rem;

    background-color: rgba(0, 0, 0, 0.5);
    
    /* border-top: .1rem solid var(--white-colour); */
    border-bottom: .1rem solid var(--white-colour);

    /* border-bottom: .1rem solid rgba(255, 255, 255, 0.4); */


    box-shadow: 0rem .6rem .8rem rgba(10, 10, 10, 1);


    transition: background-color 300ms linear;
}

@media (width >= 80rem){
    header#odin-header{
        padding: 0 8rem;
    }
}



header#odin-header:hover{
    background-color: rgba(0, 0, 0, 0.7);
}



header#odin-header > *{
    flex-grow: 1;
    flex-basis: 0;
}






svg#back-arrow-svg{
    flex-shrink: 0;



    height: 70%;
    aspect-ratio: 1;

    cursor: pointer;

    /* transform: scale(1); */

    & #background-circles-group{
        overflow: hidden;
    }


    & #outer-background-circle{
        fill: var(--light-orange-colour);
        opacity: 0.3;
    }


    & #inner-background-circle{
        fill: var(--light-orange-colour);
        opacity: 0.5;

        transform-box: fill-box;
        transform-origin: center;

        animation: increaseScale 3000ms ease-in-out infinite;
    }


    & #front-circle{
        fill: var(--light-orange-colour);
    }


    & #back-arrow{
        fill: var(--white-colour);
    }


}



svg#back-arrow-svg.non-active{
    cursor: not-allowed;

    filter: grayscale(100%);

    /* transform: scale(0.9); */

    /* transition: transform 800ms linear; */

    & #inner-background-circle{
        animation: none;

        opacity: 0;
    }

}



@keyframes increaseScale {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(2.5);
    }
}













#header-title{
    flex-shrink: 0;

    font-style: italic;

    font-size: 3.8rem;

    text-align: center;
}
























nav#odin-nav{
    flex-shrink: 0;

    display: flex;
    justify-content: flex-end;
    gap: 5rem;

    height: 100%;
    /* width: 28rem; */


    /* background-color: rgba(218, 218, 218, 0.2); */
    
    /* backdrop-filter: blur(30px); */

    

    

    

    
}






button.page-switch-button{
    flex-shrink: 0;

    height: 100%;

    position: relative;

    background-color: transparent;

    font-size: 1.7rem;
    font-weight: bold;

    cursor: pointer;

    color: inherit;
}

button.page-switch-button::after{
    content: '';

    position: absolute;
    bottom: 2rem;
    left: 50%;

    transform: translate(-50%);

    background-color: transparent;

    width: .6rem;
    height: .6rem;



    border-radius: 50%;

    transition: background-color 300ms linear;
}



button.page-switch-button:hover::after{
    background-color: var(--white-colour);
}

button.page-switch-button.current-page::after{
    background-color: var(--light-orange-colour);
}