header#odin-header{

    flex-shrink: 0;

    align-self: flex-start;

    margin-top: 1rem;
    

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 11rem;


    background-color: rgba(22, 22, 22, 0.2);
    
    backdrop-filter: blur(20px);


    box-shadow: 0rem .4rem .8rem rgba(10, 10, 10, 0.4);

    /* border-bottom: .1rem solid rgba(255, 255, 255, 0.4); */

}


nav#odin-nav{
    margin-left: auto;
    margin-right: .4rem;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;


}



button.page-switch-button{
    position: relative;

    background-color: transparent;

    color: antiquewhite;

    font-size: 2rem;
    font-weight: bold;

    border-radius: .4rem;

    padding: 1.5rem 3rem;

    font-family: 'Lato', Tahoma, sans-serif;

    cursor: pointer;

    /* transition: background-color 300ms linear; */
}

button.page-switch-button::after{
    content: '';

    position: absolute;
    bottom: -.2rem;
    left: 50%;

    transform: translate(-50%);

    background-color: transparent;

    width: .7rem;
    height: .7rem;

    border-radius: 50%;

    transition: background-color 300ms linear;
}



button.page-switch-button:hover::after{
    background-color: antiquewhite;
}

button.page-switch-button.current-page::after{
    background-color: goldenrod;
}