div#main{

    display: flex;
    align-items: flex-start;

    flex-direction: column;

    width: 100%;
    height: 100%;
    
    z-index: 0;


    background-color: rgba(0, 0, 0, 0.3);

    /* animation: box-shadow-appearance 10s forwards linear; */


    /* box-shadow: inset 0rem 0rem 100rem black; */

} 


@keyframes box-shadow-appearance {
    from{
        box-shadow: inset 0rem 0rem 0rem black;
    }
    to{
        box-shadow: inset 0rem 0rem 100rem black;
    }
}



























/* #block-background-left{
    --block-background-colour: rgb(0, 0, 41);
    

    z-index: 1;

    background: linear-gradient(to right, 
              black 0%,
              var(--block-background-colour),
              transparent 60%);

    width: 100%;
    height: 100%;

    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

#block-background-right{
    z-index: 1;

    background-color: rgb(10, 10, 10, 0.2);
    
    backdrop-filter: blur(10px);

    grid-column: 2 / 3;
    grid-row: 1 / 1;

}

*/