:root{
    font-size: 62.5%
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    box-sizing: border-box;
}

html,
body{
    position: relative;

    font-size: 1.6rem;

    width: 100dvw;
    height: 100dvh;

    display: grid;

    grid-template-columns: minmax(40rem, 4fr) minmax(30rem, 1fr) minmax(0rem, 4fr);
    grid-template-rows: 1fr;

    /* overflow: hidden; */
}

