
div#content.home-page{
    flex: 1;

    width: 90%;
    height: 100%;


    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;

    gap: 4rem;

    margin-left: 4rem;
}




h1#home-title{
    font-size: 9rem;

    letter-spacing: .1rem;

    line-height: 1;

    width: min-content;
}


div#home-description-container{
    flex-shrink: 0;

    display: flex;

    gap: 5rem;
}

div#home-description-container hr{
    flex-shrink: 0;

    height: .2rem;
    width: 20rem;

    border-radius: .6rem;

    background-color: var(--white-colour);



}

p#home-description{
    color: var(--white-colour);

    font-size: 2rem;

    letter-spacing: .1rem;
}

@media (width >= 80rem) {

    div#content.home-page{
        width: 60%;

        margin-left: 8rem;
    }



    h1#home-title{
        font-size: 12rem;
    
        width: 100%;
    }

    p#home-description{
    
        font-size: 2.2rem;
    }


}